/* 07 Changing CSS style dynamically */
 /* .js-style{
    color: blue;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
} */

/* 08 Event Listener */
/* .js-style{
    color: blue;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}  */

/* 10 audio play in javascript: */
/* button{
    padding: 20px 50px;
    background-color: blue;
    color: wheat;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
} */

/* 11 add and remove animation in JavaScript: */
/* button{
    padding: 20px 50px;
    border: none;
    font-size: 2rem;
    margin: 20px;
}

.animation{
    box-shadow: 0px 15px 18px 0px red;
} */

/* 17 onclick, ondblclick, onmousedown, onmouseup, onmouseenter, onmouseleave, onmousemove, onmouseover - event in javascript: */

/* div{
    background-color: blue;
    height: 30rem;
    width: 30rem;
    position: relative;
}
div h1{
    color: bisque;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 13%;
    text-shadow: 0px 10px 20px  black;
}
button{
    margin-top: 200px;
    margin-left: 35px;
    height: 5rem;
    width: 7rem;
    background-color: white;
    border: none;
    box-shadow: 0px 15px 15px 0px tomato;
    color: red;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
} */

/* 21 ondragstart, ondrag, ondragend, ondragenter, ondragleave, ondrover, ondrop, DragEventDragEvent: */

/* div{
    background-color: tan;
    width: 50vw;
    height: 30vh;
}
p{
    font-size: 2rem;
    font-weight: bold;
} */
